DB_HOST=mysql
DB_PORT=3306
DB_NAME=eco_monitoring
DB_USER=eco_user
DB_PASSWORD=eco_password

MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=eco_monitoring
MYSQL_USER=eco_user
MYSQL_PASSWORD=eco_password

BACKEND_CORS_ORIGINS=http://localhost:4200
DEBUG=false

